<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if boardtitle %}
        <title>{{ boardtitle }}</title>
    {% else %}
        <title>{{ imageboard_name }}</title>
    {% endif %}
</head>
<body>
{% if boardtitle %}
    <h1>{{ boardtitle }}</h1>
{% else %}
    <h1> {{ imageboard_name }}</h1>
{% endif %}
{% if subtitle %}
    <p>{{ subtitle }}</p>
{% endif %}
<hr>
{% block content %}
{% endblock %}
</body>
</html>